# -----------------------------------------------------------
# ARQUIVOS E PASTAS PADRÃO DO PYTHON / VIRTUAL ENVIRONMENTS
# -----------------------------------------------------------
__pycache__/
*.pyc
*.pyd
*.so
.venv
venv/
env/
/bin/
/include/
/lib/
/lib64/
/Scripts/
/share/

# Instalações de pacotes (pip, conda)
*.egg-info/
.python-version
.ipynb_checkpoints

# Logs e Temporary files
*.log
tmp/
temp/
.DS_Store

# -----------------------------------------------------------
# ARQUIVOS ESPECÍFICOS DO PROJETO VIAGENS_A_SERVICO
# -----------------------------------------------------------

# 1. Dados Brutos e Temporários (Gerados pelo viagens_dowload.py)
# Estes arquivos são grandes e devem ser ignorados.
dadosViagens/
dadosViagens TESTES
travelData
*.zip

# 2. Cache de Geocodificação (Criado pelo distanciaCidades.py)
# Contém as coordenadas obtidas da API. É grande e recriável.


# 3. Cache de Notebooks (Opcional, mas recomendado)
.ipynb_checkpoints/

# 4. Resultados de Processamento
# Se você salvar o df_master ou baselines processados (opcional, remova o '#' se salvar)
# resultados_finais.csv